#extensions:
*.obj
*.iobj

*.ipch

*.exe

*.log
*.tlog

*.idb

*.pdb
*.ipdb

*.ilk

*.xml

#files:

.vs/Atak_zombie_Wojciech_War/v15/.suo
.vs/Atak_zombie_Wojciech_War/v15/Browse.VC.db
.vs/Atak_zombie_Wojciech_War/v15/Browse.VC.opendb

Atak_zombie_Wojciech_War/Debug/Atak_zom.4EB4C01F.tlog/unsuccessfulbuild
Atak_zombie_Wojciech_War/Debug/Atak_zom.4EB4C01F.tlog/Atak_zombie_Wojciech_War.lastbuildstate

Atak_zombie_Wojciech_War/allChecks.ruleset
Debug/Atak_zombie_Wojciech_War.exe.lastcodeanalysissucceeded
Atak_zombie_Wojciech_War/Atak_zombie_Wojciech_War.aps
Atak_zombie_Wojciech_War/Atak_zombie_Wojciech_War.rc
Atak_zombie_Wojciech_War/Debug/Atak_zombie_Wojciech_War.res
